*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-1{
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
}

#fizzbuzz{
    margin-top: 20px;
}

img{
    width: 80%;
    aspect-ratio: 1;
}
